@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
font-family: 'Outfit', sans-serif;
font-size: 15px;
background-color: var(--light-gray);

}

body {
    margin: 50px;

}

.container {
    background-color: var(--white);
    width: 300px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;


}

.images img {
   position: relative;
   width: 300px;
   border-radius: 20px;
   justify-content: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: var(--dark-blue);
}

.desc {

}

.footer {
    text-align: center;
    padding: 30px;

}



